treechildren::-moz-tree-image(modules_generic_documentlogentry){
	list-style-image: url(/changeicons/small/document_notebook.png);
}
treechildren::-moz-tree-image(modules_generic_folder){
	list-style-image: url(/changeicons/small/folder.png);
}
treechildren::-moz-tree-image(modules_generic_groupAcl){
	list-style-image: url(/changeicons/small/lock.png);
}
treechildren::-moz-tree-image(modules_generic_rootfolder){
	list-style-image: url(/changeicons/small/rootfolder.png);
}
treechildren::-moz-tree-image(modules_generic_systemfolder){
	list-style-image: url(/changeicons/small/systemfolder.png);
}
treechildren::-moz-tree-image(modules_generic_userAcl){
	list-style-image: url(/changeicons/small/lock.png);
}