.freeLocation {
	clear: left;
	float: left;
	width: 100%;
}
.freeBlock {
	float: left;
	width: 100%;
}

.cblock .columns {
	display: table;
	width: 100%;
}
.cblock .columns > div {
	display: table-cell;
}
.cblock .columns > :not(:first-child) {
	margin-left: 1%;
}
.cblock .columns .column-50 {
	width: 49%;
}
.cblock .columns .column-25 {
	width: 24%;
}
.cblock .columns .column-75 {
	width: 74%;
}
.cblock .columns .column-33 {
	width: 32%;
}
.cblock .columns .column-66 {
	width: 66%;
}

.display-none {
	display: none;
}
.display-inline {
	display: inline;
}

@import url(/modules/generic/style/layout.!xul.all.css);
@import url(/modules/generic/style/layout.xul.all.css);