.freeColumn{
}
.freeLocation{
	clear: left;
	width: 100%;
}
.freeBlock{
	float: left;
	width: 100%;
}
.cleaner{
	clear: both;
	width: 100%;
}
.website-block{
	width: 100%;
	float: left;
	margin-bottom: 16px;
}

.row-100{
	width: 100%;
}
.column-50{
	width: 49%;
	float: left;
}
.column-25{
	width: 24%;
	float: left;
}
.column-75{
	width: 74%;
	float: left;
}
.column-33{
	width: 32%;
	float: left;
}
.column-66{
	width: 66%;
	float: left;
}
.margin-left{
	margin-left: 1%;
}
.margin-right{
	margin-right: 1%;
}
.removable{
	display: table-cell;
	height: 100%;
}
.display-none{
	display: none;
}
.display-inline{
	display: inline;
}
@import url(/modules/generic/style/layout.!xul.all.css);
@import url(/modules/generic/style/layout.xul.all.css);
@import url(/modules/generic/style/layout.trident.4.css);
@import url(/modules/generic/style/layout.trident.5.css);