p {
	padding-bottom: 8px;
}
p.notabene {
	font-style: italic;
}
pre,
code {
	font-size: 120%;
}
pre {
	display: block;
	white-space: pre;
}
pre.code {
	overflow: auto;
	width: 95%;
	max-height: 300px;
	border: 1px dashed #ccc;
	padding: 5px;
	background-color: #eee;
	margin-bottom: 5px;
}
a.popup {
	padding-right: 13px;
	background: url(/media/frontoffice/external.png) center right no-repeat;
}
a.anchor * {
	background-color: #adff2f;
}
img.image {
	margin-right: 10px;
	margin-left: 10px;
}
p img.image {
	margin-bottom: 0;
}
img.floatLeft,
img.image.float-left {
	margin-bottom: 10px;
	margin-left: 0;
}
img.floatRight,
img.image.float-right {
	margin-bottom: 10px;
	margin-right: 0;
}
hr.clear-both {
	background: url(/changeicons/small/arrow_left_blue.png) center left no-repeat;
	width: 100%;
	height: 16px;
	border: none;
	clear: both;
}
hr.clear-both:after {
	padding-left: 20px;
	content: 'Retour en début de ligne';
}
acronym {
	cursor: help;
	border-bottom: 1px dotted;
}
blockquote {
	margin: 0 0 5px 40px;
	padding: 6px;
	border: 2px dashed #ccc;
}
abbr[title] {
	font-style: italic;
}
span.lang {
	background-color: #e0ffff;
	border-bottom: 1px dotted #00FFFF;
}
span.lang:after {
	background-color: #84d6d6;
	font-weight: bold;
	font-style: normal;
	border-bottom: 1px solid white;
	content: '\0000a0['  attr(lang) ']\0000a0';
}
ul.normal {
	margin: 0 0 8px 10px;
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}

ol.normal {
	margin: 0 0 8px 10px;
	padding: 0;
	list-style-type: decimal;
	list-style-position: inside;
}

dl.normal {
	margin-bottom: 10px;
}
dl.normal dt {
	font-weight: bold;
}
dl.normal dd {
	margin-left: 20px;
	margin-bottom: 5px;
}
table.normal tr td,
table.normal tr th {
	padding: 6px 3px;
	margin: 0;
	border-width: 1px;
	border-style: solid;
}
table.normal tr th {
	padding: 3px 3px;
	font-weight: bold;
}
a.media-flash-dummy {
	display: block;
	border: 1px solid silver;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: #000;
	background: url(/media/backoffice/flash-logo.png) #F8F8FF center no-repeat;
}
a.document-dummy {
	display: inline-block;
	border: 1px solid silver;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	vertical-align: bottom;
	background: url(/media/changeicons/small/document.png) ghostwhite center no-repeat;
	-moz-background-size: 48px 48px;
}
object {
	display: block;
	border: 1px dotted orange;
	background: #FFE4B5;
}
span.underline {
	text-decoration: underline; 
}

/** Required for correct table edition. */
body#richtext-body {
	padding: 7px;
}
html, 
body#richtext-body {
	background-image: none;
	background-color: #FFFFFF;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 100%;
}