<html>
<h1><span tal:content="formTitle" />&nbsp;:&nbsp;<strong>${componentName} (${cmpref})</strong></h1>

<span tal:repeat="moduleRoles modulesRoles" tal:omit-tag="">
    <h2>
        <span i18n:translate="&modules.generic.rights.moduleIndication;" />
        &nbsp;:&nbsp;
        <span tal:replace="repeat/moduleRoles/key" />
    </h2>
    <span tal:repeat="moduleRole moduleRoles">
        <table bordercolor="black" border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <form>
                        <input name="module" type="hidden" tal:attributes="value moduleName"/>
                        <input name="action" type="hidden" value="SetCredential"/>

                        <span i18n:translate="&modules.generic.rights.form.assignRoleForComponent;" />
                        <strong tal:content="moduleRole/roleLocalizedName" />
                        <input name="cmpref" type="hidden" value="${cmpref}"/>
                        <input name="roleName" type="hidden" tal:attributes="value moduleRole/roleName" />
                        
                        <input name="do" type="submit" value="allow"/>
                        <input name="do" type="submit" value="deny"/>&nbsp;
                        <span i18n:translate="&modules.generic.rights.form.forUserOrGroup;" tal:omit-tag="" />&nbsp;
                        
                        <select name="groupAndUserComponentIdArray">
                        <option selected="selected"><span i18n:translate="&modules.generic.rights.form.defaultOptionComponent;" tal:omit-tag="" /></option> (else they are using module default behaviour)
                        <span tal:repeat="component moduleRole/unset">
                            <option value ="${component/id}">${component/name}</option>
                        </span>
                        </select><br/>
                        <strong i18n:translate="&modules.generic.rights.roleDescription;" />&nbsp;:&nbsp;
                        <span tal:content="moduleRole/roleDescription" />
                    </form>
                    <table bordercolor="black" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <th><span i18n:translate="&modules.generic.rights.userOrGroup;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleStatus;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleAction;" /></th>
        </tr>
        <!-- ALLOWED ROLES SECTION -->
           <tr tal:repeat="component moduleRole/allow">
                    <td align="left" valign="middle">
                        <span tal:content="component/name" />
                    </td>
                    <td align="center" valign="middle">
                        <img src="icons/small/check.png" i18n:attributes="alt &modules.generic.rights.roleAllowed;" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:condition="not: component/rolefromparent" tal:omit-tag="">
                        <a href="?module=${moduleName}&action=SetCredential&do=unset&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                            <span i18n:translate="&modules.generic.rights.Unset;" />
                        </a>&nbsp;-&nbsp;
                        </span>
                        <a href="?module=${moduleName}&action=SetCredential&do=switchtodeny&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                            <span i18n:translate="&modules.generic.rights.form.deny;" />
                        </a>&nbsp;-&nbsp;
                        <a href="?module=${moduleName}&action=SetCredential&do=getgroupusers&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                            <span i18n:translate="&modules.generic.rights.form.userDetails;" />
                        </a>
                    </td>
                </tr>
        <!-- END OF ALLOWED ROLES SECTION -->
        <!-- DENIED ROLES SECTION -->
           <tr tal:repeat="component moduleRole/deny">
                    <td align="left" valign="middle">
                        <span tal:content="component/name" />
                    </td>
                    <td align="center" valign="middle">
                        <img src="icons/small/forbidden.png" i18n:attributes="alt &modules.generic.backoffice.role.RoleDenied;" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:condition="not: component/rolefromparent" tal:omit-tag="">
                            <a href="?module=${moduleName}&action=SetCredential&do=unset&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                                <span i18n:translate="&modules.generic.rights.Unset;" />
                            </a>&nbsp;-&nbsp;
                        </span>
                        <a href="?module=${moduleName}&action=SetCredential&do=switchtoallow&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                            <span i18n:translate="&modules.generic.rights.form.allow;" />
                        </a>&nbsp;-&nbsp;
                        <a href="?module=${moduleName}&action=SetCredential&do=getgroupusers&groupAndUserComponentIdArray=${component/id}&cmpref=${cmpref}&roleName=${repeat/moduleRole/key}">
                            <span i18n:translate="&modules.generic.rights.form.userDetails;" />
                        </a>
                    </td>
                </tr>
        <!-- END OF DENIED ROLES SECTION -->
        
        </table>
                </td>
            </tr>
        </table>
    </span>
</span>
</html>
