<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" tal:attributes="xml:lang lang; lang lang;">
<head>
</head>
<body>
<h1><span tal:content="formTitle" /></h1><br/>
<form id="roleForm">
	<input name="groupAndUserComponentIdArray" type="hidden" value="${groupAndUserComponentIdArray}"/>
	<input name="module" type="hidden" value="generic"/>
	<input name="action" type="hidden" value="SetCredential"/>

    <span i18n:translate="&modules.generic.rights.form.assignRole;" />
	<select name="roleName">
		<option value ='' selected="selected"><span i18n:translate="&modules.generic.rights.form.defaultOption;" /></option>
		<span tal:omit-tag="" tal:repeat="moduleRoles modulesRoles">
					<span tal:omit-tag="" tal:repeat="moduleRole moduleRoles">
						<span tal:omit-tag="" tal:repeat="roleDetails moduleRole/unset">
							<option tal:attributes="value roleDetails/roleName"><span tal:omit-tag="" tal:content="roleDetails/moduleName" /> -&gt; <span tal:omit-tag="" tal:content="roleDetails/roleLocalizedName" /></option>
						</span>
					</span>
		</span>
	</select>&nbsp;
	<span tal:omit-tag="" i18n:translate="&modules.generic.rights.form.assignTo;" />&nbsp;
    <span tal:omit-tag="" tal:content="groupAndUserComponentName" /><br/>
    <input name="do" type="submit" value="allow"/>
    <input name="do" type="submit" value="deny"/><br/><br/>

</form>
    <table bordercolor="black" border="1" cellspacing="0" cellpadding="0">
        <tr>
            <th><span i18n:translate="&modules.generic.rights.module;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleName;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleDescription;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleStatus;" /></th>
            <th><span i18n:translate="&modules.generic.rights.roleAction;" /></th>
        </tr>
        <!-- ALLOWED ROLES SECTION -->
        <span tal:repeat="moduleRoles modulesRoles" tal:omit-tag="">
            <span tal:repeat="moduleRole moduleRoles" tal:omit-tag="">
                <tr tal:repeat="roleDetails moduleRole/allow">
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/moduleName" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/roleLocalizedName" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/roleDescription" />
                    </td>
                    <td align="center" valign="middle">
                        <img src="icons/small/check.png" i18n:attributes="alt &modules.generic.rights.roleAllowed;" />
                    </td>
                    <td align="left" valign="middle">
                        <a tal:attributes="href roleDetails/unsetAction">
                            <span i18n:translate="&modules.generic.rights.Unset;" />
                        </a>
                    </td>
                </tr>
            </span>
        </span>
        <!-- END OF ALLOWED ROLES SECTION -->
        <!-- DENIED ROLES SECTION -->
        <span tal:repeat="moduleRoles modulesRoles" tal:omit-tag="">
            <span tal:repeat="moduleRole moduleRoles" tal:omit-tag="">
                <tr tal:repeat="roleDetails moduleRole/deny">
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/moduleName" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/roleLocalizedName" />
                    </td>
                    <td align="left" valign="middle">
                        <span tal:content="roleDetails/roleDescription" />
                    </td>
                    <td align="center" valign="middle">
                        <img src="icons/small/forbidden.png" i18n:attributes="alt &modules.generic.backoffice.role.RoleDenied;" />
                    </td>
                    <td align="left" valign="middle">
                        <a tal:attributes="href roleDetails/unsetAction">
                            <span i18n:translate="&modules.generic.rights.Unset;" />
                        </a>
                    </td>
                </tr>
            </span>
        </span>
        <!-- END OF DENIED ROLES SECTION -->
    </table> 
</body>
</html>

